{{- $source := "scss/modules/flexsearch/app.scss" -}}
{{- $target := "css/main.css" -}}

<!-- TODO: remove debug statement -->
{{- $files := slice -}}
{{- range $index, $file := resources.Match "**.scss" -}}
    {{- warnf "Processing file: %s" $file }}
    {{- $files = $files | append $file -}}
{{- end -}}

{{- $options := (dict "transpiler" "libsass" "targetPath" $target) -}}
{{- $options = merge $options (dict "outputStyle" "expanded") -}}

<!-- TODO: fix workaround replacing resources.Get with resources.GetMatch -->
{{/*- $css := resources.Get $source | resources.ExecuteAsTemplate "style.app.scss" . | toCSS $options -*/}}
{{- $css := resources.GetMatch $source | resources.ExecuteAsTemplate "style.app.scss" . | toCSS $options -}}

<link rel="stylesheet" href="{{ $css.Permalink }}">