{{- $search := partial "utilities/GetSearchConfig.html" (dict "search" true) -}}

{{- if $search.modal }}
    <div id="search-modal" class="modal fade search-modal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true" aria-modal="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content h-50">
                <div class="modal-header">
                    <div class="w-100">
                        <form class="search position-relative me-auto">
                            <input id="search-input-modal" class="search-input form-control is-search" tabindex="1" type="search" placeholder="{{ T "ui_search" }}..." aria-label="{{ T "ui_search" }}" autocomplete="off">
                        </form>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ T "close" }}"></button>
                </div>
                <div class="modal-body p-2 search-background">
                    <div class="search-suggestions" data-no-results="{{ T "ui_no_results" }}"></div>
                </div>
            </div>
        </div>
    </div> 
{{ end -}}
