{{- $searchArg := .search | default false -}}
{{- $searchDefault := false -}}
{{- $searchModal := false -}}
{{- $searchIcon := "fas magnifying-glass" }}
{{ if eq (printf "%T" site.Params.navigation.search) "bool" }}
    {{- $searchDefault = site.Params.navigation.search -}}
    {{- $searchModal = site.Params.navigation.searchModal -}}
    {{ warnf "site parameter %q: deprecated in v%s, use %q instead" "navigation.search" "1.12.0" "navigation.search.enabled" }}
{{ else }}
    {{- $searchDefault = site.Params.navigation.search.enabled -}}
    {{- $searchModal = site.Params.navigation.search.modal -}}
    {{- $searchIcon = site.Params.navigation.search.icon | default $searchIcon }}
{{ end }}
{{- $search := $searchArg | default $searchDefault -}}
{{- $searchModal = and $search $searchModal -}}
{{ if isset site.Params.navigation "searchmodal" }}
    {{ warnf "site parameter %q: deprecated in v%s, use %q instead" "navigation.searchModal" "1.12.0" "navigation.search.modal" }}
{{ end }}

{{ return (dict "enabled" $search "modal" $searchModal "icon" $searchIcon) }}
