{{- $searchDefault := false -}}
{{- $searchModal := false -}}
{{- $searchIcon := partial "utilities/GetThemeIcon.html" (dict "id" "searchIcon" "default" "fas magnifying-glass") -}}
{{ if eq (printf "%T" site.Params.navigation.search) "bool" }}
    {{- $searchDefault = site.Params.navigation.search -}}
    {{- $searchModal = site.Params.navigation.searchModal -}}
    {{ warnf "site parameter %q: deprecated in v%s, use %q instead" "navigation.search" "1.12.0" "navigation.search.enabled" }}
{{ else }}
    {{- $searchDefault = site.Params.navigation.search.enabled -}}
    {{- $searchModal = site.Params.navigation.search.modal -}}
    {{- with site.Params.navigation.search.icon -}}
        {{- partial "utilities/LogWarn.html" (dict
            "partial" "utilities/GetSearchConfig.html"
            "warnid"  "warn-deprecated-icons"
            "msg"     "Deprecated icon params detected; migrate to the [icons] section in params.toml"
            "details" (slice "Replace 'navigation.search.icon' with 'icons.search'")
        ) -}}
    {{- end -}}
    {{- $searchIcon = or $searchIcon site.Params.navigation.search.icon -}}
{{ end }}
{{- $search := $searchDefault -}}
{{- if isset . "search" -}}
    {{- $search = .search -}}
{{- end -}}
{{- $searchModal = and $search $searchModal -}}
{{ if isset site.Params.navigation "searchmodal" }}
    {{ warnf "site parameter %q: deprecated in v%s, use %q instead" "navigation.searchModal" "1.12.0" "navigation.search.modal" }}
{{ end }}

{{ return (dict "enabled" $search "modal" $searchModal "icon" $searchIcon) }}
